/*  DEFAULTS  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.blue {
  background-color: #3498db;
}
.green {
  background-color: #2ecc71;
}
.red {
  background-color: #e74c3c;
}
.yellow {
  background-color: #f1c40f;
}
.purple {
  background-color: #9b59b6;
}
.orange {
  background-color: #e67e22;
}
.white {
  background-color: #ecf0f1;
}
.grey {
  background-color: #95a5a6;
}
.black {
  background-color: #34495e;
}
body {
  font-family: Verdana;
  color: #ecf0f1;
  background-color: #ecf0f1;
}
body > div > * {
  position: absolute;
  left: 0;
  right: 0;
}
.btn-container a {
  color: #ecf0f1;
  text-decoration: none;
  cursor: default;
}

/*  NAVIGATION  */

.navigation-container {
  height: 10vh;
  color: #34495e;
  display: flex;
  justify-content: space-between;
}
.navigation-item {
  font-size: 30px;
  padding: 10px 15px 10px 15px;
  line-height: 1.5;
}
.navigation-home {
  padding-right: 0px;
}
.navigation-settings {
  padding-left: 0px;
}
.navigation-title {
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  line-height: 2.5;
}

/*  BUTTONS  */

.btn-container {
  height: 90vh;
  bottom: 0;
  text-align: center;
}
.add-btn-container {}
.attended-btn-container {
  display: flex;
}
.passenger-btn-container {}
.source-btn-container {}
.btn-span {
  line-height: 80vh;
}
.add-btn-span {}
.attended-btn-span {}
.add-btn {
  font-size: 20em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.attended-btn {
  height: 45vh;
  font-size: 10em;
  z-index: 3;
  line-height: 40vh;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #ecf0f1;
}
.attended-btn-yes {
  top: 0;
}
.attended-btn-no {
  bottom: 0;
}
.settings-btn {
  height: 30vh;
  font-size: 5em;
  z-index: 3;
  line-height: 40vh;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #ecf0f1;
}
.settings-btn-stats {
  line-height: 30vh;
  top: 0;
}
.settings-btn-export {
  line-height: 30vh;
  top: 30vh;
}
.settings-btn-reset {
  padding-top: 7.5vh;
  line-height: 15vh;
  bottom: 0;
}

/*  GRID  */

.btn-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.passenger-btn-grid {}
.passenger-btn-grid {}
.passenger-btn-grid-item {
  width: 33.33333%;
  font-size: 6em;
  line-height: 30vh;
  border: 1px solid #ecf0f1;
}
.source-btn-grid-item {
  width: 100%;
  font-size: 2.5em;
  line-height: 12vh;
  border: 1px solid #ecf0f1;
}

/*  STATISTICS  */

h3 {
  font-size: 2em;
  font-weight: normal;
  padding: 50px 0;
}
.stats-container {
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  justify-content: space-around;
}
.stats-full-container {
  height: auto;
  top: 7vh;
  background-color: #34495e;
  padding-bottom: 200px;
}
.stats-item {}
.stats-cars {}
.stats-people {}
.stats-attended {
  width: 100%;
  padding-bottom: 25px;
}
.stats-source {
  width: 100%;
  padding: 0 10vw;
}
.stats-time {
  width: 100%;
  padding: 0 10vw;
}
