/*  DEFAULTS  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.green {
  background-color: #468966;
}
.red {
  background-color: #B64926;
}
.blue {
  background-color: #178CFF;
}
.yellow {
  background-color: #FFB03B;
}
.white {
  background-color: #F6F6F6;
}
body {
  font-family: Verdana;
  color: #F6F6F6;
  background-color: #F6F6F6;
}
body > div > * {
  position: absolute;
  left: 0;
  right: 0;
}

/*  NAVIGATION  */

.navigation-container {
  height: 10vh;
  color: black;
  display: flex;
  justify-content: space-between;
}
.navigation-item {
  font-size: 30px;
  padding: 10px 15px 10px 15px;
  opacity: 0.5;
  line-height: 1.5;
}
.navigation-home {
  padding-right: 0px;
}
.navigation-settings {
  padding-left: 0px;
}
.navigation-title {
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  line-height: 2.5;
  opacity: 0.5;
}

/*  BUTTONS  */

.btn-container {
  height: 90vh;
  bottom: 0;
  text-align: center;
}
.add-btn-container {}
.attended-btn-container {
  display: flex;
}
.passenger-btn-container {}
.source-btn-container {}
.btn-span {
  line-height: 80vh;
}
.add-btn-span {}
.attended-btn-span {}
.add-btn {
  font-size: 20em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.attended-btn {
  height: 45vh;
  font-size: 10em;
  z-index: 3;
  line-height: 40vh;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #F6F6F6;
}
.attended-btn-yes {
  top: 0;
}
.attended-btn-no {
  bottom: 0;
}

/*  GRID  */

.btn-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.passenger-btn-grid {}
.passenger-btn-grid {}
.passenger-btn-grid-item {
  width: 33.33333%;
  font-size: 6em;
  padding-top: 30px;
  border: 1px solid #F6F6F6;
}
.source-btn-grid-item {
  width: 100%;
  font-size: 2.5em;
  padding-top: 10px;
  border: 1px solid #F6F6F6;
}

/*  STATISTICS  */

.stats-container {
  font-size: 2em;
  text-align: center;
  display: flex;
  padding: 50px 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  justify-content: space-around;
}
.stats-item {}
.stats-cars {}
.stats-people {}
